body {
    min-width: 300px;
    max-width: 350px;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; /* Changed color */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Changed color */
}

input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; /* Changed color */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Changed color */
}